.header {
  padding-top: 3rem;
  height: 30rem;
  width: 100%;
  text-align: center;

  & h1 {
    font-size: 3rem;
  }

  & h2 {
    margin: 1.5rem 0 0.6rem 0;
    font-size: 2rem;
  }

  & ul > li {
    text-decoration: none;
    font-size: 2rem;
  }
}
